<div class="login-body">
  <div class="login-wrapper">
    <div class="login-panel">
      <a
        [routerLink]="['/']"
        class="logo"
      >
        <img
          src="assets/images/logo_dark.png"
          class="loginLogo"
        />
      </a>
      <form
        (ngSubmit)="submit()"
        [formGroup]="resetPasswordForm"
      >
        <div class="login-form">
          <h2>Insert your new password</h2>

          <p class="m-0">
            <small
              *ngIf="resetPasswordForm.controls.password.errors?.required && submitted"
              class="p-error"
              >*Password is required</small
            >
          </p>
          <p-password
            styleClass="w-full"
            formControlName="password"
            [feedback]="false"
            [toggleMask]="true"
            placeholder="Password"
            [ngClass]="{
              'ng-invalid ng-dirty': resetPasswordForm.controls.password.invalid && submitted
            }"
          ></p-password>

          <p class="m-0">
            <small
              *ngIf="resetPasswordForm.controls.checkPassword.errors?.required && submitted"
              class="p-error"
              >*Repeat password</small
            >
          </p>
          <p class="m-0">
            <small
              *ngIf="resetPasswordForm.controls.checkPassword.errors?.mustMatch && submitted"
              class="p-error"
              >*Passwords don't match</small
            >
          </p>
          <p-password
            [ngClass]="{
              'ng-invalid ng-dirty': resetPasswordForm.controls.checkPassword.invalid && submitted
            }"
            styleClass="w-full"
            formControlName="checkPassword"
            [feedback]="false"
            [toggleMask]="true"
            placeholder="Repeat password"
          ></p-password>

          <button
            pButton
            class="p-button-rounded p-button-outlined"
            pRipple
            [disabled]="isLoading"
            [label]="isLoading ? 'RESETTING PASSWORD...' : 'RESET PASSWORD'"
            type="submit"
          ></button>
        </div>
      </form>

      <p-messages
        [(value)]="messages"
        [enableService]="false"
        [closable]="false"
        [showTransitionOptions]="'500ms'"
        [hideTransitionOptions]="'0ms'"
      ></p-messages>

      <p>Go back to the<a [routerLink]="['/login']"> Login page.</a></p>
    </div>
  </div>
</div>
