.loginLogo {
  height: 200px !important;
}

::ng-deep .login-form > p-password > .p-password > input {
  width: 85%;
  max-width: 310px;
  margin: auto;
  margin-bottom: 20px;
}

::ng-deep .p-input-icon-right > .p-icon-wrapper {
  color: #60604d !important;
  right: 0rem;
  top: 1.3rem;
}
