<div class="login-body">
  <div class="login-wrapper">
    <div class="login-panel">
      <a
        [routerLink]="['/']"
        class="logo"
      >
        <img
          src="assets/images/logo_dark.png"
          class="loginLogo"
        />
      </a>
      <form
        (ngSubmit)="submit()"
        [formGroup]="recoveryPasswordForm"
      >
        <div class="login-form">
          <h2>Please enter your E-mail</h2>

          <p class="m-0">
            <small
              *ngIf="recoveryPasswordForm.controls.username.errors?.required && submitted"
              class="p-error"
              >*E-mail is required</small
            >
          </p>
          <p class="m-0">
            <small
              *ngIf="recoveryPasswordForm.controls.username.errors?.email && submitted"
              class="p-error"
              >*E-mail format invalid</small
            >
          </p>
          <input
            pInputText
            [ngClass]="{
              'ng-invalid ng-dirty': recoveryPasswordForm.controls.username.invalid && submitted
            }"
            type="text"
            autocomplete="off"
            pInputText
            placeholder="E-mail"
            formControlName="username"
          />

          <button
            pButton
            class="p-button-rounded p-button-outlined"
            pRipple
            [disabled]="isLoading"
            [label]="isLoading ? 'RECOVERING...' : 'RECOVER PASSWORD'"
            type="submit"
          ></button>
        </div>
      </form>

      <p-messages
        [(value)]="messages"
        [enableService]="false"
        [closable]="false"
        [showTransitionOptions]="'500ms'"
        [hideTransitionOptions]="'0ms'"
      >
      </p-messages>

      <p>Go back to the<a [routerLink]="['/login']"> Login page.</a></p>
    </div>
  </div>
</div>
